# Rust
rust_core/target/
**/*.rs.bk

# Android
android/.gradle/
android/app/build/
android/*/build/
android/local.properties
android/*.iml
.idea/
*.iml

# NDK
*.o
*.so
*.a

# Misc
.DS_Store
artifacts/
